.dub
docs.json
__dummy.html
docs/
/textedit
textedit.so
textedit.dylib
textedit.dll
textedit.a
textedit.lib
textedit-test-*
/textedit-gtk/textedit_textedit-gtk
/textedit-core/*-unittest
/textedit-core/*.a
*.exe
*.o
*.obj
*.lst
/textedit.code-workspace
